<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聖苑論壇</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="../src/font.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9d0690b173.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>

  <div id="app">
    <!-- 上層 Navbar -->
    <div class="top-bar d-flex justify-content-between align-items-center" ref="topbar">
      
      <div class="logoword d-inline-block">
        <p class="m-0 p-0"><i class="fa-regular fa-comment me-2"></i>聖苑高等學府</p>
      </div>
    
      <div class="media-links">
        <div class="media-links-time">
          <i class="fa-regular fa-calendar-days me-2"></i>{{now}}
        </div>
        <div class="media-link">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-threads"></i></a>
          
        </div>
        
      </div>
    </div>
 
    <div class="top-bar-two" ref="topbar2">聖苑論壇</div>
  
    <!-- 下層功能列 -->
    <nav :class="['menu-bar', { fixed: isFixed }]" ref="menubar">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" href="../index.html">HOME</a></li>
        <li class="nav-item"><a class="nav-link" href="../forum.html">FORUM</a></li>
        <li class="nav-item"><a class="nav-link" href="../news.html">NEWS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">WIKI</a></li>
      </ul>
    </nav>
   
  
    <!-- 主內容 -->
    <main class="mt-4 mb-4">
      <div class="row m-0 d-flex ailgn-items-center justify-content-center">
        <div class="col-10">

          <div class="row gx-4 gy-2">

            <div class="col-12 col-md-6 col-xl-3 gray">
              <img src="" alt="">
              <div class="title p-0 px-1">
                <p class="m-0 p-0">白清 | 高一</p>
                <p class="m-0 p-0 text-secondary tags d-inline">#請問女神學妹的詩集哪裡買</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 gray">
              <img src="" alt="">
              <div class="title p-0 px-1">
                <p class="m-0 p-0">白承曜 | 高三</p>
                <p class="m-0 p-0 text-secondary tags d-inline">#妹妹的無死角全能守護者</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 gray">
              <img src="" alt="">
              <div class="title p-0 px-1">
                <p class="m-0 p-0">賀淵白 | 高三</p>
                <p class="m-0 p-0 text-secondary tags d-inline">#學生會長今天也鎮壓全場</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-xl-3 gray">
              <img src="" alt="">
              <div class="title p-0 px-1">
                <p class="m-0 p-0">賀璟生 | 高二</p>
                <p class="m-0 p-0 text-secondary tags d-inline">#哥跑的社團比你吃過的米還多</p>
              </div>
            </div>


          </div>

          <div class="row mt-4 mb-4 co">
            <div class="content col-12 col-lg-8">
              

              <div v-for="i in [nowForum]" v-if="nowForum">
                <h2 class="mt-2 mb-2">{{ i.article_title }}</h2>
                <div class="text-secondary">BY. {{i.aurthor}} • {{i.created_at}}</div>

                <hr>
                <p class="m-0 p-0" style="line-height: 1.8;white-space: pre-line;">{{i.article_content}}</p>
                

              
              
              <div class="mt-3">
                <div class="tag text-center">
                  
                  <div class="tags d-inline-block mt-2 me-2 px-2 py-1" v-for="tag in nowForum.hashtags.split('#').filter(Boolean)" :key="tag">
                    {{ '#' + tag }}
                  </div>
                </div>
              </div>

              <hr>

              <div class="d-flex w100 ailgn-items-center">
                <div class="me-3" id="heart_i" @mouseover="isHoverHeart = true" @mouseleave="isHoverHeart = false"><i class="fa-regular fa-heart me-2" :class="isHoverHeart ? 'fa-solid fa-heart' : 'fa-regular fa-heart'" ></i>{{i.like}}</div>
                <a id="comments_i" :href="forumLink(param)+'#nick'" @mouseover="isHoverComment = true" @mouseleave="isHoverComment = false"><i class="fa-regular fa-comments me-2" :class="isHoverComment ? 'fa-solid' : 'fa-regular'"></i> {{comments.length}}</a>
              </div>

              <div class="off-title mt-3" id="comment">COMMENTS</div>

              <div v-if="comments.length > 0">
                <div class="comment w-100 mt-3" v-for="(i,index) in comments"  :key="i.id">
                
                
                
                  <p class="d-inline-block user px-2 py-1" style="word-break: break-all;">#{{index+1}} {{i.comment_name}}</p>

                  <p class="m-0 comment-text">{{ i.comment_content }}</p>
                  <p class="text-secondary">{{i.created_at}}</p>
                  <hr>
                </div>
              </div>
              <div class="comment w-100 mt-3 text-secondary" v-else >
                
                
                
                目前尚無留言
                
                

              </div>

              <p class="m-0 p-0 mt-3" id="nick"><span class="text-danger" >*</span>暱稱</p>
              <input type="text" name="" id="" v-model="nickName" class="col-12 px-2 py-1" >
              <p class="m-0 p-0 mt-3"><span class="text-danger">*</span>留言</p>
              <textarea name="" class="col-12 px-2 py-1" style="min-height: 100px;" v-model="writeComment" ></textarea>
              <button @click="insertComment" class="mt-3">送出</button>


            </div>

              <div class="mt-3 d-inline-block d-lg-none">
                <div class="off-title text-uppercase">NEW POST</div>
                <div class="osusume_list py-3"v-for="i in articles.slice(0,4)" :key="i.id">
                  <div class="title">
                    <a :href="'../forum/index.html?param=' + i.id">{{i.article_title}}</a>
                  </div>
                  <!--<p style="white-space: pre-line;">{{i.article_content}}</p>-->
                  <div class="date text-secondary">{{i.created_at}}  •  {{i.like}} LIKES</div>
                  
                </div>

                <div class="off-title text-uppercase">TRENDING</div>

              <div class="osusume_list py-3" v-for="i in sortByLikesDesc.slice(0,4)">
                <div class="title">
                  <a :href="'../forum/index.html?param=' + i.id">{{i.article_title}}</a>
                </div>
                <div class="date text-secondary">{{i.created_at}}  •  {{i.like}} LIKES</div>
              </div>

              <div class="off-title mb-1 text-uppercase">Hashtags</div>
              
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 聖苑高等學府</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 戀愛路上總有哥哥把關</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 本週誰又靠近白清了</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 貴族的婚約我不懂</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 學生的本分不是戀愛但全校愛看</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 白清與她的兩個婚約者</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 白承曜氣死在學生會</div>

              </div>


            </div>
            <div class="osusume col-4 d-none d-lg-inline-block">
              <div class="off-title text-uppercase">NEW POST</div>

              <div class="osusume_list py-3" v-for="i in articles.slice(0,4)" :key="i.id">
                <div class="title">
                  <a :href="'../forum/index.html?param=' + i.id">{{i.article_title}}</a>
                </div>
                <!--<p style="white-space: pre-line;">{{i.article_content}}</p>-->
                <div class="date text-secondary">{{i.created_at}}  •  {{i.like}} LIKES</div>
                
              </div>

              <div class="off-title text-uppercase">TRENDING</div>

              <div class="osusume_list py-3" v-for="i in sortByLikesDesc.slice(0,4)">
                <div class="title">
                  <a :href="'../forum/index.html?param=' + i.id">{{i.article_title}}</a>
                </div>
                <div class="date text-secondary">{{i.created_at}}  •  {{i.like}} LIKES</div>
              </div>

              <div class="off-title mb-1 text-uppercase">Hashtags</div>
              
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 聖苑高等學府</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 戀愛路上總有哥哥把關</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 本週誰又靠近白清了</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 貴族的婚約我不懂</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 學生的本分不是戀愛但全校愛看</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 白清與她的兩個婚約者</div>
              <div class="tags d-inline-block mt-2 me-2 px-2 py-1"># 白承曜氣死在學生會</div>

            </div>
          </div>

        </div>
      </div>
      
    </main>

    <!--footer-->
    <footer class="text-center w100 p-0 m-0 py-3">© Copyright 2023, All rights reserved. Design by ME</footer>
  </div>

    

</body>
<script src="app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</html>